In [234]:
import pandas as pd
import re

In [236]:
#importing the data
df = pd.read_csv("Auction_Export")
df.drop(columns = "Unnamed: 0", inplace = True)
df.head()

   Year    Brand   Model    State  Milage      Color  Price     Body
0  2005  HYUNDAI  TUCSON  Florida  110980     SILVER    925  Utility
1  2004    HONDA  ACCORD  Florida  154354       GOLD    525    Sedan
2  2015     FORD  FUSION  Georgia  161165       GRAY    950    Sedan
3  2005    HONDA  ACCORD  Georgia  248180  DARK BLUE    550    Sedan
4  2003    HONDA  ACCORD  Georgia       1       GRAY    475    Sedan

In [238]:
df.shape

(5151, 8)

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5151 entries, 0 to 5150
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    5151 non-null   int64
 1   Brand   5151 non-null   object
 2   Model   5117 non-null   object
 3   State   5151 non-null   object
 4   Milage  5128 non-null   object
 5   Color   5119 non-null   object
 6   Price   5151 non-null   int64
 7   Body    5151 non-null   object
dtypes: int64(2), object(6)
memory usage: 322.1+ KB

In [246]:
#for consistency in the case
df.Brand = df["Brand"].apply(lambda x: x.upper())
df.Model = df["Model"].apply(lambda x: str(x))
df.Model = df["Model"].apply(lambda x: x.upper())
df.Color = df["Color"].apply(lambda x: str(x))
df.Color = df["Color"].apply(lambda x: x.upper())
df.Milage = df["Milage"].apply(lambda x: str(x))
df.Milage = df["Milage"].apply(lambda x: re.sub(r"[^\d]", "", x))

In [254]:
df = df[df["Milage"]!=""]
df.Milage = df["Milage"].apply(lambda x: float(x))

In [256]:
#removing any duplicates
df = df.drop_duplicates()
df

,Year,Brand,Model,State,Milage,Color,Price,Body
0,2005,HYUNDAI,TUCSON,Florida,110980.0,SILVER,925,Utility
1,2004,HONDA,ACCORD,Florida,154354.0,GOLD,525,Sedan
2,2015,FORD,FUSION,Georgia,161165.0,GRAY,950,Sedan
3,2005,HONDA,ACCORD,Georgia,248180.0,DARK BLUE,550,Sedan
4,2003,HONDA,ACCORD,Georgia,1.0,GRAY,475,Sedan
...,...,...,...,...,...,...,...,...
5143,2024,CHEVROLET,EQUINOX,California,14898.0,WHITE,10400,Utility
5144,2012,FORD,FUSION,Texas,215540.0,BURGUNDY,700,Sedan
5146,2005,MAZDA,6,California,177391.0,GRAY,250,Sedan
5147,2008,TOYOTA,COROLLA,Texas,1.0,SILVER,1625,Sedan
5149,2014,FORD,FUSION,Texas,147893.0,BURGUNDY,925,Sedan

In [260]:
df = df.dropna()

In [292]:
df = df[df["Milage"] != 1]

In [294]:
brands = df.groupby(["Brand"]).count().drop(columns = ["State", "Milage", "Color", "Price", "Body", "Model"]).sort_values(by = "Year", ascending = False)
brands.reset_index(inplace = True)
top_brands = brands.head(15)
top_brands

         Brand  Year
0    CHEVROLET   407
1         FORD   398
2        HONDA   328
3       TOYOTA   239
4      HYUNDAI   217
5       NISSAN   159
6          KIA   159
7        DODGE   135
8         JEEP   118
9          BMW    93
10         GMC    79
11    CHRYSLER    77
12       BUICK    73
13       MAZDA    55
14  VOLKSWAGEN    54

In [296]:
brands_list = list(top_brands.Brand)

In [298]:
data = df[df["Brand"].isin(brands_list)]

In [300]:
models = data.groupby("Model").count().drop(columns = ["Brand", "State", "Milage", "Color", "Price", "Body"]).reset_index()

In [302]:
top_models = models[models["Year"]>1]

In [304]:
model_list = list(top_models["Model"])

In [306]:
data = data[data["Model"].isin(model_list)]

In [308]:
data

,Year,Brand,Model,State,Milage,Color,Price,Body
0,2005,HYUNDAI,TUCSON,Florida,110980.0,SILVER,925,Utility
1,2004,HONDA,ACCORD,Florida,154354.0,GOLD,525,Sedan
2,2015,FORD,FUSION,Georgia,161165.0,GRAY,950,Sedan
3,2005,HONDA,ACCORD,Georgia,248180.0,DARK BLUE,550,Sedan
5,2013,FORD,ESCAPE,Virginia,287145.0,WHITE,1200,Utility
...,...,...,...,...,...,...,...,...
5142,2009,TOYOTA,CAMRY,Texas,191627.0,WHITE,1875,Sedan
5143,2024,CHEVROLET,EQUINOX,California,14898.0,WHITE,10400,Utility
5144,2012,FORD,FUSION,Texas,215540.0,BURGUNDY,700,Sedan
5146,2005,MAZDA,6,California,177391.0,GRAY,250,Sedan
5149,2014,FORD,FUSION,Texas,147893.0,BURGUNDY,925,Sedan

In [310]:
data.to_csv("Auction_export_cleaned")